body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

/* oh my food top section */

.logo {
    background-color: white;
}

.logo > img {
    height: 2.5rem;
    padding-left: 20%;
}

.location{
    display: block;
    background-color: #d3d3d3ef;
    text-align: center;
    padding: 1rem;
}

.location > i {
    display: inline;
}

.location > p {
    background-color: #f2f2f24b;
    border: none;
    width: 20%;
    display: inline;
    margin-left: 10px
}

.intro {
    background-color: #F2F2F2;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
}

.intro > h3 {
    color: grey;
    margin: 2rem 1rem;
}

.intro > p{
    color: white;
    background: linear-gradient(to right, #FF79DA 0%, #9356DC 100%);
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 5px 10px 20px #888888;
    height: auto;
    width: 20%;
    display: inline;
}

/* how it works middle section */

.how > li:hover {
    background-color: #9055d84d;
}

.how {
    list-style-type: none;
}

.how > li {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    text-align: center;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 5px 6px 10px #888888;
    height: auto;
    width: 90%;
    margin-bottom: 2rem;
    position: relative;
    background-color: #fff;
    font-weight: bold;
}

.how > li > i {
    line-height: 3.5;
    color: darkgrey;
}

.number {
    position: relative;
    z-index: 0
}

.number > p {
    color: white; 
    background-color: #9356DC;
    position: absolute;
    z-index: 1;
    right: -2px;
    border-radius: 22px;
    padding: 2px 8px;
}

#middle {
    display: inline;
    line-height: 3.5;
}

#middle > i {
    color: darkgrey;
}

.enjoy {
    background-color: #9256dc;
}

.enjoy > i {
    color: #9256dc;
}

/* pictures section */

.Restaurants{
    background-color: #eee;
    display: flex;
    flex-flow: column wrap;
  }

.Restaurants > figure {
    background-color: white;
    box-shadow: 0 0 3px #ccc;
    border: solid 2px #eee;
    border-radius: 12px;
    margin: 1rem;
    width: 22rem;
    height: 18rem;
    padding: 5px;
    position: relative;
  }
   
.Restaurants > figure:hover {
	border: solid 2px black;
}

.Restaurants > figure > img{
    width: 100%;
    height: 65%;
    border-radius: 12px 12px 0px 0px; 
    object-fit: cover;
  }

.Restaurants > figure > span {
    font-weight: bold;
    color: darkgreen;
    background-color: #99E2D0;
    padding: 3px 10px;
    position: absolute;
    right: 15px;
    top: 15px;

}

.Restaurants > figure > figcaption {
    padding-left: 5px;
    flex-flow: column wrap;
    position: relative;
}

.Restaurants > figure > figcaption > div {
    padding-left: 10px;
}

.Restaurants > figure > figcaption > i {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: black;
}

.Restaurants > figure > figcaption > i:nth-child(1) {
    color: black;
}

#favorite {
    background-image: linear-gradient(to bottom,white 50%, #FF79DA 50%);
    background-size: 200% 200%;
    transition: all 4s ease;
}

#heart {
    background-color: white;
}

#heart:hover {
    opacity: 0;
}

#favorite:hover{
    background-position: 0 100%;
}

.Restaurants > figure > figcaption > div > h3 > a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: #9356DC;
}

a:hover {
    text-decoration: underline;
    color: #FF79DA;
}

a:active {
    color: #99E2D0;
}

.Restaurants > h3{
    font-size: 16px;
    padding-left: 5px;
    font-weight:bold;
}

/*footer */

footer {
    background-color: #000000d7;
    height: 20rem;
}

#ohmyfood {
    color: white;
    font-family: Shirkhand;
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
    padding: 30px 0px 5px 30px;
    margin-bottom: 0px;
}

footer > ul  {
    list-style-type: none;
}

footer > ul > li > p {
    color: white;
    padding-bottom: 10px;
}

.iconed {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.iconed > i {
    line-height: 3.5;
    color: white;
}
